---
aws_access_key_id: access_key
aws_secret_access_key: secret_key
region: us-east-1
environment: prod
debug: true
cross_region: true

target_regions:
  prod:
    - us-west-2
    - eu-west-1
  stage:
    - us-east-1

cross_roles_arns:
  prod:
    us-west-2: roleARNone
    eu-west-1: roleARNtwo
  stage:
    us-east-1: roleARNthree

sqs_sensor:
  input_queues:
    - queuename
  cross_input_queues:
    prod:
      us-west-2:
        - queuename1
      eu-west-1:
        - queuename2
    stage:
      us-east-1:
        - queuename3

sqs_other:
  max_number_of_messages: 5


